# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/


# IDE settings
.idea/
.vscode/

# macOS 系统文件
.DS_Store

# Python cache
*.egg-info/
.eggs/
dist/
build/

# Log files
*.log

# SQLite / 本地 DB 文件（如果用）
*.db
*.sqlite3

# Pydantic cache
__pydantic__/

# 密码
backend/keys/scan-ingredients.json
